APP_ENV=laptop

API_TOKEN=replace_with_long_random_api_token
VNC_PASSWORD=changeme

HOST_API_BIND=127.0.0.1
HOST_API_PORT=18000
HOST_NOVNC_BIND=127.0.0.1
HOST_NOVNC_PORT=6080

HOST_BROWSER_DATA_DIR=/var/lib/webdock/browser_data
HOST_LOGS_DIR=/var/log/webdock

BROWSER_MODE=ecs_cdp
CDP_URL=http://127.0.0.1:9222
CDP_CONNECT_TIMEOUT_SECONDS=60
ATTACH_ON_START=false

CHATGPT_URL=https://chatgpt.com/
CHAT_TIMEOUT_SECONDS=120
RESPONSE_STABLE_SECONDS=5

ENABLE_STEALTH=true
SLOW_MO_MS=50
DISPLAY_WIDTH=1366
DISPLAY_HEIGHT=768
VIEWPORT_WIDTH=1366
VIEWPORT_HEIGHT=768
VIEWPORT_JITTER_PX=20
BROWSER_CHANNEL=chrome
CHROME_PROXY_SERVER=

BEFORE_TYPE_DELAY_MIN_MS=500
BEFORE_TYPE_DELAY_MAX_MS=1200
BEFORE_SEND_DELAY_MIN_MS=300
BEFORE_SEND_DELAY_MAX_MS=600
TYPING_DELAY_MIN_MS=0
TYPING_DELAY_MAX_MS=0

LOG_LEVEL=INFO
