ECS_SSH_HOST=47.77.176.62
ECS_SSH_USER=root
ECS_SSH_KEY=/home/webdock/.ssh/webdock_ecs_tunnel_ed25519
ECS_REMOTE_BIND=127.0.0.1
ECS_REMOTE_PORT=11800
WEBDOCK_LOCAL_BIND=127.0.0.1
WEBDOCK_LOCAL_PORT=18000
