MIHOMO_MIXED_PORT=7897
MIHOMO_BIND_ADDRESS=172.17.0.1
MIHOMO_CONFIG_DIR=/etc/mihomo

MIHOMO_SUBSCRIPTION_URL=

MIHOMO_PRIMARY_NAME=Aliyun-REALITY
MIHOMO_PRIMARY_SERVER=replace_with_ecs_ip
MIHOMO_PRIMARY_PORT=8443
MIHOMO_PRIMARY_UUID=replace_with_uuid
MIHOMO_PRIMARY_SERVERNAME=www.cloudflare.com
MIHOMO_PRIMARY_PUBLIC_KEY=replace_with_reality_public_key
MIHOMO_PRIMARY_SHORT_ID=replace_with_reality_short_id
