AUTHENTIK_IMAGE=ghcr.io/goauthentik/server
AUTHENTIK_TAG=2026.5.3
AUTHENTIK_BIND=127.0.0.1
COMPOSE_PORT_HTTP=9000

PG_DB=authentik
PG_USER=authentik
PG_PASS=replace_with_long_random_postgres_password
AUTHENTIK_SECRET_KEY=replace_with_long_random_secret_key
AUTHENTIK_BOOTSTRAP_PASSWORD=replace_with_initial_admin_password
AUTHENTIK_BOOTSTRAP_TOKEN=replace_with_long_random_bootstrap_token
AUTHENTIK_BOOTSTRAP_EMAIL=admin@hydwang.xyz
AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,::1/128

AUTHENTIK_POSTGRESQL_DIR=/var/lib/authentik/postgresql
AUTHENTIK_DATA_DIR=/var/lib/authentik/data
AUTHENTIK_CERTS_DIR=/var/lib/authentik/certs
AUTHENTIK_TEMPLATES_DIR=/var/lib/authentik/custom-templates
